---
layout: minimal
title: "All Posts - X.F."
permalink: /posts/index.html
description: "Take a look at my awesome posts."
---

<h2>All Posts</h2>
<ul class="post-list">
    {% if site.paginate %}
        {% for post in paginator.posts %}
            <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}<span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></a></li>
        {% endfor %}
        {% if paginator.total_pages > 1 %}
    
        {% endif%}
    {% else %}
        {% for post in site.posts %}
            <li>
                <a href="{{ site.url }}{{ post.url }}">{{ post.title }}<span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></a>
            </li>
        {% endfor %}
    {% endif %}
</ul>
