.tags
    margin-top rem(30px)
    a
        font-size rem(14px)
        color main
        display inline-block
        border 1px solid main !important
        border-radius rem(5px)
        padding rem(4px) rem(10px)
        margin-right rem(2px)
        margin-bottom rem(8px)
        text-decoration none
        &:hover
            color hover
            border 1px solid hover

.img-rounded
    border-radius 50%

.aboutme
    .recent
        list-style none
    .post-title
        &:before
            content ""
    h2
        &:hover
            background-color mainHover

.pagination
    font-size rem(18px)
    text-align center
    .previous, .next
        color main
        margin 0 rem(8px) 0 rem(8px)
        font-weight normal
    a
        border 0 !important
        &:hover
            color mainLight
            background-color sec
    .page_number
        color mainLight
    .disabled
        color mainHover