a
    -webkit-tap-highlight-color: rgba(0,0,0,0);

@font-face {
  font-family: 'Noto Sans Buginese';
  font-style: normal;
  src: url(../font/NotoSansBuginese-Regular.ttf) format('truetype');
}

mainFont(weight = 800)
    font-family 'PingFang SC', 'Lantinghei SC', 'Hiragino Sans GB', 'Microsoft Yahei', 'Microsoft Sans Serif', 'Noto Sans Buginese', 'WenQuanYi Micro Hei', sans-serif
    font-weight weight
    font-style normal

html,body,h1,h2,h3,h4,h5,h6
    mainFont()